@{
    ViewData["Title"] = "ContactUs";
}

<body>
    <div id="react-app">
        <div class="sh-site" data-reactroot="" data-reactid="1" data-react-checksum="-1770275313">
            <section class="sh-content" data-reactid="2">
                @*<div class="sh-nav_menu" data-reactid="3">
                    <a class="sh-nav_menu-container" href="/" data-reactid="4">
                        <img class="sh-nav_menu-logo is-home" src="/assets/images/logo.svg" data-reactid="5" />
                    </a>
                    <ul class="sh-nav_menu-links" data-reactid="6">
                        <div class="sh-auth" data-reactid="7">
                            <li data-reactid="8">
                                <span class="sh-auth-link" data-reactid="9">Login</span>
                            </li>
                        </div>
                    </ul>
                </div>*@<!-- react-empty: 10 --><!-- react-empty: 11 --><!-- react-empty: 12 --><!-- react-empty: 13 --><!-- react-empty: 14 -->
                <div class="sh-smartphone-wrapper" id="contactUsContent" data-reactid="15">
                    <h2 class="sh-smartphone-title" data-reactid="16"> Contact Us </h2><br data-reactid="17" />
                    <p class="sh-smartphone-description" data-reactid="18">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#x27;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
                </div>
            </section>
            @*<footer class="sh-footer" data-reactid="19">
                <section class="sh-footer-content" data-reactid="20">
                    <div data-reactid="21">
                        <div class="sh-footer-section" data-reactid="22">
                            <img class="sh-footer-logo" src="/assets/images/logo.svg" data-reactid="23" />
                        </div>
                    </div>
                    <div data-reactid="24">
                        <div class="sh-footer-section" data-reactid="25">
                            <ul class="sh-footer-list" data-reactid="26">
                                <li data-reactid="27"><a class="sh-footer-link" href="#" data-reactid="28">Terms &amp; Conditions</a></li>
                                <li data-reactid="29"><a class="sh-footer-link" href="#" data-reactid="30">Privacy Policy</a></li>
                                <li data-reactid="31"><a class="sh-footer-link" href="#" data-reactid="32">Help</a></li>
                                <li data-reactid="33"><a class="sh-footer-link" href="@Url.Action("ContactUs","Home")" data-reactid="34">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div data-reactid="35">
                        <div class="sh-footer-section" data-reactid="36">
                            <p data-reactid="37">Share</p>
                            <ul class="sh-footer-social" data-reactid="38">
                                <li data-reactid="39"><a href="#" data-reactid="40"><img class="sh-footer-icon" src="/assets/images/instagram.svg" data-reactid="41" /></a></li>
                                <li data-reactid="42"><a href="#" data-reactid="43"><img class="sh-footer-icon" src="/assets/images/facebook.svg" data-reactid="44" /></a></li>
                                <li data-reactid="45"><a href="#" data-reactid="46"><img class="sh-footer-icon" src="/assets/images/twitter.svg" data-reactid="47" /></a></li>
                            </ul>
                        </div>
                    </div>
                </section><section class="sh-footer-disclaimer" data-reactid="48">This site is built by Microsoft for demonstration purposes only</section>
            </footer>*@
        </div>
    </div>
    <script>window.initialReduxState = { "nav": { "isHome": true }, "rooms": { "list": [], "filters": { "rating": 4, "minPrice": 0, "maxPrice": 1000 }, "isLoading": false }, "user": { "id": null, "name": null, "email": "", "gravatar": "", "token": "", "error": false, "isLoading": false }, "conferenceRoomsFeatures": { "list": [], "translation": { "current": 0, "factor": 30, "units": "rem", "styles": {}, "min": 0, "max": 0 } }, "search": { "minLength": 3, "isLoading": false, "where": { "value": {}, "list": [] }, "when": { "value": { "isStartDateSelected": false, "isEndDateSelected": false }, "list": [] }, "guests": { "value": { "adults": 1, "kids": 0, "baby": 0, "rooms": 1, "work": false }, "list": [] }, "people": { "value": { "total": 1 }, "list": [] } }, "roomDetail": { "room": { "defaultPicture": "", "pictures": [""], "description": "", "name": "", "rating": 1, "city": "", "street": "", "latitude": 0, "longitude": 0, "checkInTime": "", "checkOutTime": "", "pricePerNight": 0, "phone": "", "services": [], "rooms": [{ "badgeSymbol": "", "discountApplied": 0, "localOrginalRoomPrice": 0, "localRoomPrice": 0, "originalRoomPrice": 0, "roomId": 0, "roomName": "", "roomPrice": 0 }] }, "reviews": [], "isLoading": false, "isBooking": false, "booked": false, "showConfirmationModal": false }, "modalDialog": { "isModalOpen": true }, "home": { "testimonial": {}, "isLoading": false }, "pets": { "isUploading": false, "isThinking": false, "id": null, "image": null, "status": { "approved": false, "message": "" } }, "routing": { "location": null } };</script>



    @*
        <script src="/lib/msal.js?v=w05Q6SQRdqb9mfYfePbKCUaCgiyfchV4w8ljcnztANo"></script>
        <script src="/dist/vendor.js?v=slrORgGN0OH3UnIwtDik9lbfSBVW1GYV2dFQEa8v86U"></script>*@
    @*<script src="~/js/vendor.js"></script>
        <script src="~/lib/msal.js"></script>
        <script>
            window.settings = JSON.parse('{"production":false,"urls":{"hotels":"http://sh360services-public.eastus2.cloudapp.azure.com/hotels-api/","bookings":"http://sh360services-public.eastus2.cloudapp.azure.com/bookings-api/","suggestions":"http://sh360services-public.eastus2.cloudapp.azure.com/suggestions-api/","tasks":"http://sh360services-public.eastus2.cloudapp.azure.com/tasks-api/","images_Base":"http://sh360imgpublic.blob.core.windows.net/","reviews":"http://sh360services-public.eastus2.cloudapp.azure.com/reviews-api/"},"tokens":{"bingmaps":"9D6ZuqeGpcfZ9PVYR1BQ~ofsY_N_KDywcNM-Y0Io5aA~AvqaBtSnHxFfX7flAqux2Q6eYSIreLwDxnswabgPlEOXmoEXXt6u1O6In0hqICy8"},"b2c":{"tenant":"smarthotel360.onmicrosoft.com","client":"b3cfbe11-ac36-4dcb-af16-8656ee286dcc","policy":"B2C_1_SignUpInPolicy"},"fakeAuth":{"name":"Scott Hansleman","picUrl":"https://pbs.twimg.com/profile_images/459455847165218816/I_sH-zvU_400x400.jpeg","userId":"ALFKI"}}');
        </script>*@
    @*
        <script src="/dist/main-client.js?v=3ZIqn1HLACW6B5em6rN10qIG62AWTVmX0Alc_jdl6jM"></script>*@
    @*<script src="~/js/main-client.js"></script>*@
</body>

