@{
    ViewData["Title"] = "Pets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <div id="react-app">
        <div class="sh-site" data-reactroot="" data-reactid="1" data-react-checksum="275792826">
            <section class="sh-content" data-reactid="2">
                <div class="sh-nav_menu is-home" data-reactid="3">
                    <a class="sh-nav_menu-container" href="/" data-reactid="4">
                        <img class="sh-nav_menu-logo is-home" src="/assets/images/logo.svg" data-reactid="5" />
                    </a>
                    <ul class="sh-nav_menu-links" data-reactid="6">
                        <div class="sh-auth" data-reactid="7">
                            <li data-reactid="8">
                                <span class="sh-auth-link" data-reactid="9">Login</span>
                            </li>
                        </div>
                    </ul>
                </div><!-- react-empty: 10 --><!-- react-empty: 11 --><!-- react-empty: 12 -->
                <div class="sh-pets" data-reactid="13">
                    <div class="sh-pets-hero" data-reactid="14">
                        <div class="sh-pets-wrapper" data-reactid="15">
                            <img class="sh-pets-logo" src="/assets/images/logo.svg" data-reactid="16" />
                            <h1 class="sh-pets-title" data-reactid="17">The future of intelligent hospitality and connected workplace</h1>
                        </div>
                    </div>
                    <div class="sh-pets-margin" data-reactid="18"></div>
                    <h2 class="sh-pets-subtitle" data-reactid="19">Do you want to know if your pet can accompany you?</h2>
                    <section class="sh-uploader is-empty  is-bad" data-reactid="20">
                        <div class="sh-uploader-avatar" data-reactid="21"></div>
                        <div class="sh-uploader-loading" data-reactid="22">
                            <div data-reactid="23"></div>
                        </div>
                    </section>
                    <span data-reactid="24"></span>
                    <span data-reactid="25"></span>
                    <span data-reactid="26"></span>
                    <span data-reactid="27"></span>
                    <span class="sh-pets-smalltitle is-bad is-hidden" data-reactid="28">Sorry your pet seems to be a and we can&#x27;t afford it :(</span><input type="file" class="is-hidden" data-reactid="32" />
                </div>
            </section>
           
        </div>
    </div>
    <script>window.initialReduxState = { "nav": { "isHome": true }, "rooms": { "list": [], "filters": { "rating": 4, "minPrice": 0, "maxPrice": 1000 }, "isLoading": false }, "user": { "id": null, "name": null, "email": "", "gravatar": "", "token": "", "error": false, "isLoading": false }, "conferenceRoomsFeatures": { "list": [], "translation": { "current": 0, "factor": 30, "units": "rem", "styles": {}, "min": 0, "max": 0 } }, "search": { "minLength": 3, "isLoading": false, "where": { "value": {}, "list": [] }, "when": { "value": { "isStartDateSelected": false, "isEndDateSelected": false }, "list": [] }, "guests": { "value": { "adults": 1, "kids": 0, "baby": 0, "rooms": 1, "work": false }, "list": [] }, "people": { "value": { "total": 1 }, "list": [] } }, "roomDetail": { "room": { "defaultPicture": "", "pictures": [""], "description": "", "name": "", "rating": 1, "city": "", "street": "", "latitude": 0, "longitude": 0, "checkInTime": "", "checkOutTime": "", "pricePerNight": 0, "phone": "", "services": [], "rooms": [{ "badgeSymbol": "", "discountApplied": 0, "localOrginalRoomPrice": 0, "localRoomPrice": 0, "originalRoomPrice": 0, "roomId": 0, "roomName": "", "roomPrice": 0 }] }, "reviews": [], "isLoading": false, "isBooking": false, "booked": false, "showConfirmationModal": false }, "modalDialog": { "isModalOpen": true }, "home": { "testimonial": {}, "isLoading": false }, "pets": { "isUploading": false, "isThinking": false, "id": null, "image": null, "status": { "approved": false, "message": "" } }, "routing": { "location": null } };</script>



  
</body>


